/*Quien Soy*/
    /*Foto*/
.imgQuienSoy {
    width: 400px;
    margin-top: 20px;
}   

.textoQuienSoy {
    /*width: 40%;*/
    margin-top: 10px;
    width: 80%;
    text-align: justify;
    margin-left: 10%;
}
.imgTextoQuienSoy {
    /*display:flex;
    flex-direction: row;*/
    justify-content: space-evenly;
    display: block;
}